@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Adding All My Section Tag Fixed Padding */
section {
  padding: 80px;
}

/* Creating Banner Area in Css */
.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.banner {
  background: linear-gradient(to left, #8942a8, #ba382f);
  animation: 15s ease infinite;
}

/* Image styling 
.headshot {
  width: 250px;
  height: 350px;
  margin-right: 500px;
  border-right: 5px solid #ffd8a9;
  border-bottom: 5px solid #ffd8a9;
  border-radius: 5px;
}
*/

/* Hero Section 

.headshot-container {
  display: flex;
  align-items: center;
}
*/

/* Header Section */
.banner h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffd8a9;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.2em;
  color: #fdeedc;
}

.banner h3 {
  color: #fdeedc;
  font-size: 1.5em;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #ffd8a9;
  color: #111;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}
/* About Me Layout */

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading p {
  font-style: italic;
  font-size: 14px;
}

.heading h2 {
  font: size 3em;
  color: #f1a661;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-left: 40px;
  text-align: justify;
}

.proPic {
  width: 300px;
  height: 350px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.contentBx h2 {
  font-weight: 300;
  margin-bottom: 10px;
}

.heading.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.btn.round {
  border-radius: 50px;
}

.bt {
  margin-top: 20px;
}
.w50 {
  min-width: 25%;
}

img {
  max-width: 100%;
}
